/* @import url("http://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  z-index: 10;
}

.contact-container {
  background-image: url(https://images.unsplash.com/photo-1665799871677-f1fd17338b43?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWV0YSUyMGxvZ298ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  height: 100vh;
  z-index: 1;
}

.right {
  position: absolute;
  width: 360px;
  left: 60%;
  height: 680px;
  top: 10%;
  background: #ffffff;
  border-radius: 25px;
  text-align: center;
}
.left{
  position: absolute;
  width: 360px;
 background:none;
 justify-content: center;
 justify-items: center;
  height: 470px;
  top: 10%;
  left: 10%;
   background-color: #318adc;
  border-radius: 25px;
  text-align: center;
  color: whitesmoke;
  opacity: 0.9;
  padding: 20px;
}
.ld{position: absolute;
  width: 360px;
 background:none;
 justify-content: center;
  height: 250px;
  top: 72%;
  left: 10%;
   background-color: #318adc;
  border-radius: 25px;
  text-align: center;
  color: black;
  opacity: 0.9;
  padding-top: 40px;}

.title {
  font-family: Sansation;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 145px;
  align-items: center;
  font-family: "Sansation", sans-serif;
  color: #5754dd;
}

.logo {
  width: 120px;
  height: 120px;
  margin-top: -40px;
}

input[type="email"],
input[type="password"] {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  color: #85b6ff;
  padding: 20px 10px 20px 5px;
  border: 2px solid #568aee;
  width: 280px;
  height: 45px;
  margin: 15px;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  font-family: "Scheherazade New", serif;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  height: 18px;
  width: 18px;
}

::placeholder {
  color: #85b6ff;
  font-size: 18px;
}

.icon {
  position: absolute;
  padding: 24px 32px;
  height: 75px;
  width: 90px;
}

.keepme {
  margin: 15px;
  color: #71a1bd;
  font-family: "Scheherazade New", serif;
  font-weight: bold;
 
}
.g1{
  display: flex;
  justify-content: center;
}
.google{
 
  justify-content: center;
  vertical-align: middle;
  background-color: red;
  border-radius: 40px;
  width: 260px;
  left: 1273px;
  right: 1273px;;
  top: 200px;
}
.fb{margin-top: 20px;
  justify-content: center;
  vertical-align: middle;
  background-color: blue;
  border-radius: 40px;
  width: 260px;
  left: 1273px;
  right: 1273px;;
  top: 200px;
}

button {
  width: 260px;
  height: 45px;
  left: 1273px;
  top: 780px;
  font-family: "Sansation", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  background: rgba(135, 113, 224, 0.89);
  border-radius: 25px;
}

.link {
  text-align: center;
  display: block;
  margin: 18px;
  color: #71a1bd;
  font-family: "Scheherazade New", serif;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 185vh;
    background: linear-gradient(138.56deg, #318adc 23.44%, #88183a 89.5%);
  }
  .right, .left, .ld {
    position: relative;
    left: unset;
    top: unset;
  }
  .right {
    width: 350px;
  }
}
